/* Base */
body {
    margin-top: 100px;

}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
/*    background-color: #fff;*/
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
/*    background-color: #fff;*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
       background-color: #f8f8f8;
/*        background-color: #222;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav>li>ul>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #eee !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
/*    color: #fff;*/
}

/**
 * Panel color
 */

.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}

.form-group {
	margin-bottom: 5px;
}

.ajaxfield {
	color: #000;
}

.ajaxfield:hover {
	text-decoration: none;
}

.ajaxfield i {
	display: none;
}

.ajaxfield:hover i {
	display: inline;
}
